$palettes: (
  white: (
    base: #ffffff,
    off: #edeeef,
    popup: rgba(244, 246, 247, 0.95),
  ),
  black: (
    true: #000000,
    text: #2c3e50,
    light: #4c4e56,
  ),
  blue: (
    base: #067180,
    light: #30AFBF,
    bright: #A4E2EB,
    background: #02444D,
    title: #203840,
    content: #01171a,
  ),
);
