$palettes: (
  white: (
    base: #ffffff,
    off: #edeeef,
    popup: rgba(244, 246, 247, 0.95),
  ),
  black: (
    true: #000000,
    text: #2c3e50,
    light: #4c4e56,
  ),
  blue: (
    base: #067180,
    light: #30AFBF,
    bright: #A4E2EB,
    background: #02444D,
    title: #203840,
    content: #01171a,
  ),
  green: (
    base: #11864b,
  ),
  grey: (
    menu: #ecf0f1,
    border: #bdc3c7,
    background: #f4f6f7,
    subtle: #d8e1e6,
    dark: #566973,
    receipt: #f5f7f8,
    arrow: #96a9b3,
    light: #f7f7f7,
    bullet: #e1e1e1,
    brown-grey: #808080,
  ),
);
