.navigation {
  list-style: none;

  &__list {
    display: inline-block;
    padding: 1rem 2rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: palette(black, text);
    transition: .3s;
    font-weight: bold;

    &:hover {
      color: palette(blue, light);
    }
  }
}
