.wrapper {
  min-height: calc(100vh - 4.65rem); }

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem; }

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

body {
  margin: 0;
  font-family: 'News Cycle', sans-serif; }

h1 {
  text-transform: uppercase; }

h2 {
  text-transform: uppercase; }

h3 {
  text-transform: uppercase; }

.navigation {
  display: flex;
  justify-content: space-between; }
  .navigation__list {
    list-style: none;
    margin: 0; }
  .navigation__item {
    display: inline-block;
    padding: 1.5rem 2rem; }
  .navigation__link {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #2c3e50;
    transition: .3s;
    font-weight: bold; }
    .navigation__link:hover {
      color: #30AFBF; }
  .navigation__logout {
    display: flex;
    align-items: center;
    margin: 0 1rem; }

.footer {
  padding: 1rem 0;
  text-align: center;
  background: #11864b; }

.btn {
  padding: .5rem 1.5rem;
  border-radius: 4px;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c3e50; }
  .btn:disabled {
    border: 2px solid #566973;
    cursor: not-allowed; }
  .btn--blue {
    border: 2px solid #30AFBF; }
  .btn--green {
    background-color: #11864b;
    border: 2px solid #11864b;
    color: #ffffff; }

.link {
  text-decoration: none;
  font-size: .75rem;
  text-transform: uppercase;
  color: #2c3e50;
  font-weight: bold; }

.form__element {
  padding: .5rem 0; }

.form__label {
  display: block; }

.form__error {
  color: red;
  padding: 0 0 1rem; }

.form__input {
  display: block;
  margin-bottom: 1rem; }

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 4.65rem); }
  .home__content {
    padding: 5rem 0 0 5rem; }

.book__title {
  text-align: center; }

.book__item {
  margin: 3rem 0; }
